language: cpp

sudo: enabled

compiler:
    - g++

os:
    - linux

addons:
    apt:
        update: true
        packages:
        - libpcap-dev
        - libssl-dev

before_script:
    - ./setup.sh
    - cd source/tests
    - sudo ldconfig

script:
    - sudo ./build/test
